{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block javascript %}
<script>

    $(document).ready(function() {
        var thisYear = new Date().getFullYear();
        $("#id_note_date_year").val(thisYear);

        //THis javascript function uses an array of 0-11
        var thisMonth = new Date().getMonth() + 1;
        $("#id_note_date_month").val(thisMonth);

        var thisDay = new Date().getDate();
        $("#id_note_date_day").val(thisDay);
    });

    // function setDate(selectObject) {
    //     document.getElementById('id_note_date').value = new Date().toISOString().slice(0, 10);
    // }

</script>
{% endblock %}

{% block content %}
<h1>Add New 18-54 Note</h1>
<br>
<form method="post"> {% csrf_token %}
    <div class="container-fluid">
        <h2>Notes</h2>
            <div class="row">
              <div class="col-12">{{ form.note_date|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.class_hours|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.sip_plan|as_crispy_field }}</div>
            </div>
        <h2>Services (check all that apply):</h2>
            <div class="row">
              <div class="col-6">{{ form.at_devices|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.orientation|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.communications|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.dls|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.advocacy|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.counseling|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.information|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.services|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.support|as_crispy_field }}</div>
            </div>
        <h2>Notes</h2>
            <div class="row">
              <div class="col-12">{{ form.note|as_crispy_field }}</div>
            </div>
        {{ form.errors }}
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}
