{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<h1>Intake Page 2 (Client History)</h1>
<br>
<!--<input type="button" onclick="location.href='/lynx/client/{{ object.contact_id }}';" value="Return to {{ object.contact.first_name }} {{ object.contact.last_name }}'s Information " />-->
<form method="post"> {% csrf_token %}
    {{ form.errors }}
    <h2>Intake Information</h2>
            <div class="row">
          <div class="col-3">
        {{ form.intake_date|as_crispy_field  }} <!--TODO CHECK FOR ALL DATES AS DROP DOWNS -->
          </div></div>
<!--        <p><label for="id_intake_type">Intake Type:</label> {{ form.intake_type }}</p>-->
    <h2>Client Demographics</h2>
        <div class="row">
          <div class="col-6">{{ form.birth_date|as_crispy_field }}</div>
          <div class="col-6">{{ form.age_group|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-6">{{ form.gender|as_crispy_field }}</div>
          <div class="col-6">{{ form.pronouns|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-6">{{ form.ethnicity|as_crispy_field }}</div>
          <div class="col-6">{{ form.other_ethnicity|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-4">{{ form.first_language|as_crispy_field }}</div>
          <div class="col-4">{{ form.second_language|as_crispy_field }}</div>
          <div class="col-4">{{ form.other_languages|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-4">{{ form.income|as_crispy_field }}</div>
          <div class="col-4">{{ form.education|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-4">{{ form.living_arrangement|as_crispy_field }}</div>
          <div class="col-4">{{ form.residence_type|as_crispy_field }}</div>
          <div class="col-4">{{ form.veteran|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-4">{{ form.work_history|as_crispy_field }}</div>
        </div>


    <h2>Criminal Background</h2>
        <div class="row">
          <div class="col-2">{{ form.crime|as_crispy_field }}</div>
          <div class="col-5">{{ form.crime_info|as_crispy_field }}</div>
          <div class="col-5">{{ form.crime_other|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-2">{{ form.parole|as_crispy_field }}</div>
          <div class="col-10">{{ form.parole_info|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-12">{ form.crime_history|as_crispy_field }}</div>
        </div>
    <h2>Medical History</h2>
        <p><label for="id_eye_condition">Eye Condition: </label> {{ form.eye_condition }}</p>
        <p><label for="id_eye_condition_date">Eye Condition Date: </label> {{ form.eye_condition_date }}</p>
        <p><label for="id_degree">Degree: </label> {{ form.degree }}</p>
        <p><label for="id_prognosis">Prognosis: </label> {{ form.prognosis }}</p>
        <p><label for="id_diabetes">Diabetes: </label> {{ form.diabetes }}</p>
        <p><label for="id_dialysis">Dialysis: </label> {{ form.dialysis }}</p>
        <p><label for="id_hearing_loss">Hearing Loss: </label> {{ form.hearing_loss }}</p>
        <p><label for="id_mobility"> Mobility: </label> {{ form.mobility }}</p>
        <p><label for="id_stroke">Stroke: </label> {{ form.stroke }}</p>
        <p><label for="id_seizure">Seizure: </label> {{ form.seizure }}</p>
        <p><label for="id_arthritis">Arthritis: </label> {{ form.arthritis }}</p>
        <p><label for="id_heart">Cardiovascular Disease: </label> {{ form.heart }}</p>
        <p><label for="id_musculoskeletal">Musculoskeletal Disorders: </label> {{ form.musculoskeletal }}</p>
        <p><label for="id_alzheimers">Alzheimer’s Disease/Cognitive Impairment: </label> {{ form.alzheimers }}</p>
        <p><label for="id_high_bp">High BP: </label> {{ form.high_bp }}</p>
        <p><label for="id_neuropathy">Neuropathy: </label> {{ form.neuropathy }}</p>
        <p><label for="id_pain">Pain: </label> {{ form.pain }}</p>
        <p><label for="id_asthma">Asthma: </label> {{ form.asthma }}</p>
        <p><label for="id_cancer">Cancer: </label> {{ form.cancer }}</p>
        <p><label for="id_allergies">Allergies: </label> {{ form.allergies }}</p>
        <p><label for="id_mental_health">Mental Health: </label> {{ form.mental_health }}</p>
        <p><label for="id_substance_abuse">Substance Abuse: </label> {{ form.substance_abuse }}</p>
        <p><label for="id_memory_loss">Memory Loss: </label> {{ form.memory_loss }}</p>
        <p><label for="id_learning_disability">Learning Disability: </label> {{ form.learning_disability }}</p>
        <p><label for="id_other_medical">Other Medical Information: </label> {{ form.other_medical }}</p>
        <p><label for="id_medications">Medications: </label>  {{ form.medications }}</p>
        <p><label for="id_medical_notes">Medical Notes: </label> {{ form.medical_notes }}</p>
    <h2>Client History</h2>
        <p><label for="id_previous_training">Previous Training: </label> {{ form.previous_training }}</p>
        <p><label for="id_training_goals">Training Goals: </label> {{ form.training_goals }}</p>
        <p><label for="id_training_preferences">Training Preferences: </label> {{ form.training_preferences }}</p>
        <p><label for="id_employment_goals">Employment Goals: </label> {{ form.employment_goals }}</p>
        <p><label for="id_hobbies">Hobbies/Interests: </label> {{ form.hobbies }}</p>
        <p><label for="id_other">Other: </label> {{ form.other }}</p>
        <p><label for="id_performs_tasks">Performs Tasks?: </label> {{ form.performs_tasks }}</p>
        <p><label for="id_notes">Notes: </label> {{ form.notes }}</p>
    <input type="submit" value="Submit">
</form>
{% endblock %}
