{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block javascript %}
<script>

    $(document).ready(function() {
        var thisYear = new Date().getFullYear();
        $("#id_note_date_year").val(thisYear);

        //THis javascript function uses an array of 0-11
        var thisMonth = new Date().getMonth() + 1;
        $("#id_note_date_month").val(thisMonth);

        var thisDay = new Date().getDate();
        $("#id_note_date_day").val(thisDay);
    });

</script>
{% endblock %}

{% block content %}
<h1>Add New SIP Note</h1>
<br>
<form method="post"> {% csrf_token %}
    <div class="container-fluid">
        <h2>Notes</h2>
            <div class="row">
              <div class="col-12">{{ form.note|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.note_date|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.class_hours|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.instructor|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.sip_plan_id|as_crispy_field }}</div>
            </div>
        <h2>Services (check all that apply):</h2>
            <div class="row">
              <div class="col-6">{{ form.vision_screening|as_crispy_field }}</div>
              <div class="col-6">{{ form.treatment|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.at_devices|as_crispy_field }}</div>
              <div class="col-6">{{ form.at_services|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.independent_living|as_crispy_field }}</div>
              <div class="col-6">{{ form.orientation|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.communications|as_crispy_field }}</div>
              <div class="col-6">{{ form.dls|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.support|as_crispy_field }}</div>
              <div class="col-6">{{ form.advocacy|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.counseling|as_crispy_field }}</div>
              <div class="col-6">{{ form.information|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.services|as_crispy_field }}</div>
            </div>
        <h2>Method of delivering service (check all that apply):</h2>
            <div class="row">
              <div class="col-6">{{ form.retreat|as_crispy_field }}</div>
              <div class="col-6">{{ form.in_home|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.seminar|as_crispy_field }}</div>
              <div class="col-6">{{ form.group|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.community|as_crispy_field }}</div>
            </div>
        {{ form.errors }}
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}