{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block title %}New {{ program_name }} Note for {{ client.first_name }} {{ client.last_name }}{% endblock %}

{% block javascript %}
<script>

    $(document).ready(function() {
        var thisYear = new Date().getFullYear();
        $("#id_note_date_year").val(thisYear);

        //THis javascript function uses an array of 0-11
        var thisMonth = new Date().getMonth() + 1;
        $("#id_note_date_month").val(thisMonth);

        var thisDay = new Date().getDate();
        $("#id_note_date_day").val(thisDay);
    });

    // function setDate(selectObject) {
    //     document.getElementById('id_note_date').value = new Date().toISOString().slice(0, 10);
    // }

</script>
{% endblock %}

{% block content %}
<!-- This will probably need to be done with ILP as well -->
<h1>Add SIP Service Event</h1>
<form method="post"> {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">{{ form.service_delivery_type|as_crispy_field }}</div>
            <div class="col-12">{{ form.date|as_crispy_field }}</div>
            <div class="col-12">{{ form.length|as_crispy_field }}</div>
            <div class="col-12">{{ form.note|as_crispy_field }}</div>
            <div class="col-12">{{ form.contacts|as_crispy_field }}</div>
            <div class="col-12">{{ form.roles|as_crispy_field }}</div>
        {{ form.errors }}
        </div>
    </div>
    <button type="submit">Save</button>
</form>
{% endblock %}
