{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Add New Vaccination Record</h1>
<br>
<form method="post"> {% csrf_token %}
    <div class="container-fluid">
        <h2>Notes</h2>
            <div class="row">
              <div class="col-12">{{ form.vaccination_date|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.vaccine|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.vaccine_note|as_crispy_field }}</div>
            </div>
        {{ form.errors }}
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}