{% extends 'lynx/base.html' %}

{% block content %}
<h1>Intake Page 2 (Client Contact Information)</h1>
<br>
<form method="post"> {% csrf_token %}
    <h2>Address</h2>
        {{ address_form.as_p }}
        {{ address_form.errors }}
    <h2>Email</h2>
        {{ email_form.as_p }}
        {{ email_form.errors }}
    <h2>Phone</h2>
        {{ phone_form.as_p }}
        {{ phone_form.errors }}
    <h2>Emergency Contact</h2>
        {{ emergency_form.as_p }}
        {{ emergency_form.errors }}
    <input type="submit" value="Submit">
</form>
{% endblock %}