{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block javascript %}
<script>

    $(document).ready(function() {
        var thisYear = new Date().getFullYear();
        $("#id_plan_date_year").val(thisYear);

        //THis javascript function uses an array of 0-11
        var thisMonth = new Date().getMonth() + 1;
        $("#id_plan_date_month").val(thisMonth);

        var thisDay = new Date().getDate();
        $("#id_plan_date_day").val(thisDay);
    });

    // function setDate(selectObject) {
    //     document.getElementById('id_note_date').value = new Date().toISOString().slice(0, 10);
    // }

</script>
{% endblock %}

{% block content %}
<h1>Add New 18-54 Plan</h1>
<br>
<form method="post"> {% csrf_token %}
    <div class="container-fluid">
         <h2>Plan Information:</h2>
            <div class="row">
              <div class="col-6">{{ form.plan_date|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.plan_type|as_crispy_field }}</div>
            </div>
        <h2>Services (check all that apply):</h2>
            <div class="row">
              <div class="col-6">{{ form.at_services|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.orientation|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.communications|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.dls|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.advocacy|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.counseling|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.information|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.other_services|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.support_services|as_crispy_field }}</div>
            </div>
        <h2>Outcomes:</h2>
            <div class="row">
              <div class="col-6">{{ form.at_outcomes|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.ila_outcomes|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.living_plan_progress|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.community_plan_progress|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.employment_outcomes|as_crispy_field }}</div>
            </div>


        <h2>Notes</h2>
            <div class="row">
              <div class="col-12">{{ form.note|as_crispy_field }}</div>
            </div>

        {{ form.errors }}
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}
