{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            var thisYear = new Date().getFullYear();
            $("#id_note_date_year").val(thisYear);

            //THis javascript function uses an array of 0-11
            var thisMonth = new Date().getMonth() + 1;
            $("#id_note_date_month").val(thisMonth);

            var thisDay = new Date().getDate();
            $("#id_note_date_day").val(thisDay);
        });
    </script>
{% endblock %}

{% block content %}
<h1>Assign Instructors to </h1>
<br>
<form method="post"> {% csrf_token %}
    <div class="container-fluid">
        <h2>Select Instructor</h2>
            <div class="row">
                <div class="col-12">
                    <label for="instructor">Select a Instructor</label>
                    <select name="instructor" id="instructor" aria-required="true">
                        <option value="">----------</option>
                        {% for instructor in instructors %}
                            <option value="{{ instructor.id }}">{{ instructor.last_name }}, {{ instructor.first_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
<!--            {%for i in range %}-->
<!--                <div class="row" >-->
<!--                    <div class="col-12">-->
<!--                        <label for="instructor_{{i}}">Select a Client</label>-->
<!--                        <select id="instructor_{{i}}" name="instructor_{{i}}" aria-required="true" >-->
<!--                            <option value="">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--                            {% for instructor in instructors %}-->
<!--                                <option value="{{ instructor.id }}">{{ instructor.last_name }}, {{ instructor.first_name }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            {% endfor %}-->
        <h2>Notes</h2>
            <div class="row">
              <div class="col-12">{{ form.note|as_crispy_field }}</div>
            </div>
        {{ form.errors }}
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}


