{% extends 'lynx/base.html' %}

{% block content %}

<h1>Instructors assigned to {{ contact.first_name }} {{ contact.last_name }}</h1>
<input type="button" onclick="location.href='/lynx/client/{{ contact_id }}';" value="Return to Client" />
    <table class="table">
        <tr>
            <th>Instructor</th>
            <th>Assignment Date</th>
            <th>Notes</th>
<!--            <th>Actions</th>-->
        </tr>
        {% for instructor in instructor_list %}
            <tr>
                <td>{{ instructor.instructor.first_name }} {{ instructor.instructor.last_name }}</td>
                <td>{{ instructor.assignment_date|date:'F j, Y' }}</td>
                <td>{{ instructor.note|linebreaksbr }}</td>
<!--                <td>-->
<!--                    <form>-->
<!--                      <button class="btn btn-primary" formaction="/lynx/lesson-note-edit/{{ note.id }}">Edit</button>-->
<!--                      <button class="btn btn-danger" formaction="/lynx/lesson-note-confirm/{{ note.id }}/{{ object.id }}">Delete</button>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
        {% endfor %}
    </table>

{% endblock %}