{% extends 'lynx/base.html' %}

{% block content %}

<h1>Instructors assigned to {{ contact.first_name }} {{ contact.last_name }}</h1>
<input type="button" class="btn btn-success" aria-label="Assign Instructor" onclick="location.href='/lynx/add-assignment/{{ contact_id }}';" value="Add Assignment" /> <input type="button" class="btn btn-success" aria-label="Back to Client" onclick="location.href='/lynx/client/{{ contact_id }}';" value="Return to Client" />
    <table class="table">
        <tr>
            <th>Assignment Date</th>
            <th>Instructor</th>
            <th>Notes</th>
            <th>Assigned By</th>
            <th>Actions</th>
        </tr>
        {% for instructor in instructor_list %}
            <tr>
                <td>{{ instructor.assignment_date|date:'F j, Y' }}</td>
                <td>{{ instructor.instructor.first_name }} {{ instructor.instructor.last_name }}</td>
                <td>{{ instructor.note|linebreaksbr }}</td>
                <td>{{ instructor.user.first_name }} {{ instructor.user.last_name }}</td>
                <td>
                    <form>
                      <button class="btn btn-primary" formaction="/lynx/assignment-edit/{{ instructor.id }}/{{ contact_id }}">Edit</button>
                      <button class="btn btn-danger" formaction="/lynx/assignment-confirm/{{ instructor.id }}/{{ contact_id }}">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}