{% extends 'lynx/base.html' %}

{% block content %}

<h1>Authorization for {{ object.contact.first_name }} {{ object.contact.last_name }}</h1>
<input type="button" onclick="location.href='/lynx/client/{{ object.contact_id }}';" value="Return to {{ object.contact.first_name }} {{ object.contact.last_name }}'s Information " />

<h2>Authorization Details</h2>
{% if object.intake_service_area %}<p class="tab"><strong>Intake Service Area:</strong> {{ object.intake_service_area }}</p>{% endif %}
{% if object.authorization_number %}<p class="tab"><strong>Authorization Number:</strong> {{ object.authorization_number }}</p>{% endif %}
{% if object.authorization_type %}<p class="tab"><strong>Authorization Type:</strong> {{ object.authorization_type }}</p>{% endif %}
{% if object.start_date %}<p class="tab"><strong>Start Date:</strong> {{ object.start_date }}</p>{% endif %}
{% if object.end_date %}<p class="tab"><strong>End Date:</strong> {{ object.end_date }}</p>{% endif %}
{% if object.total_time %}<p class="tab"><strong>Total Time Authorized:</strong> {{ object.total_time }}</p>{% endif %} <!--TODO FIX THIS DISPLAY -->
<!--{% if object.monthly_time %}<p class="tab"><strong>Monthly Time Authorize:</strong> {{ object.monthly_time }}</p>{% endif %}-->
<!--{% if object.billing_name %}<p class="tab"><strong>Service Area Billing Name:</strong> {{ object.billing_name }}</p>{% endif %}-->
{% if object.billing_rate %}<p class="tab"><strong>Billing Rate:</strong> ${{ object.billing_rate }}/unit</p>{% endif %} <!--TODO FIX THIS DISPLAY -->
{% if object.outside_agency %}<p class="tab"><strong>Name of Outside Agency:</strong> {{ object.outside_agency }}</p>{% endif %}
<!--{% if object.student_plan %}<p class="tab"><strong>Student Plan Required:</strong> {{ object.student_plan }}</p>{% endif %}-->
{% if object.notes %}<p class="tab"><strong>Notes:</strong> {{ object.notes }}</p>{% endif %}
<p class="tab">Created by {{ user.first_name }} {{ user.last_name }} on {{ object.created }}</p>
<br>
<h2>Lesson Notes</h2>
    <table class="table">
        <tr>
            <th>Lesson Date and Units</th>
            <th>Attendance</th>
            <th>Billed Units</th>
            <th>Instructional Units</th>
                        <th>Successes</th>
            <th>Obstacles</th>

            <th>Recommendations</th>
            <th>Other</th>
            <th>Instructor</th>
        </tr>
        {% for note in note_list %}
            <tr>
<!--                <td><a href='/lynx/lesson-note/{{ note.id }}/'>February 29, 2020: {{ note.billed_units }}</a></td> &lt;!&ndash;TODO don't have this be the link &ndash;&gt;-->
                <th>February 29, 2020</th> <!--TODO don't have this be the link -->
                <td>{{ note.attendance }}</td>
                <td>{{ note.billed_units }}</td>
                <td>{{ note.instructional_units }}</td>
                                <td>{{ note.successes }}</td>
                <td>{{ note.obstacles }}</td>

                <td>{{ note.recommendations }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.user.first_name }} {{ note.user.last_name }}</td>
                <!--TODO add edit button -->
            </tr>
        {% endfor %}
        <tr>
                <td></td>
                <td>{{ total_present }}/{{ total_notes }}</td>
                <td>${{ total_billed }}</td>
                <td>{{ total_instruction }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
    </table>
<input type="button" onclick="location.href='/lynx/add-lesson-note/{{ object.id }}/';" value="Add Lesson Note" />
<br><br>
<h2>Progress Reports</h2>
{% for report in report_list %}
    <h3 class="tab">{{ report.month }} by {{ report.instructor }}</h3>
    <p class="tab"><strong>Accomplishments:</strong> {{ report.accomplishments }}</p>
    <p class="tab"><strong>Remaining Objectives:</strong> {{ report.remaining_objectives }}</p>
    <p class="tab"><strong>Estimated Hours:</strong> {{ report.estimated_hours }}</p>
    <p class="tab"><strong>Client Behavior:</strong> {{ report.client_behavior }}</p>
    <p class="tab"><strong>Notes:</strong> {{ report.notes }}</p>
    <p class="tab">Entered by {{ report.user.first_name }} {{ report.user.last_name }} on {{ report.created }}</p>
{% empty %}
    <p class="tab">Sorry, no progress reports for this authorization.</p>
{% endfor %}
<input type="button" onclick="location.href='/lynx/add-progress-report/{{ object.id }}/';" value="Add Progress Report" />
<br><br>
<h2>Billing Information</h2>
    <table class="table">
        <tr>
            <th>Lesson Date</th>
            <th>Billed Time</th>
            <th>Rate</th>
            <th>Service Area</th>
            <th>Authorization Type</th>
        </tr>
        {% for note in note_list %}
            <tr>
                <td>{{ note.date|date:"F d, Y" }}</td>
                <td>{{ note.billed_units }}</td>
                <td>{{ object.billing_rate }}</td>
                <td>{{ object.intake_service_area }}</td>
                <td>{{ object.authorization_type }}</td>
            </tr>
        {% endfor %}
    </table>
<p class="tab"><strong>Total Billed:</strong> ${{ total_billed }}</p>
<p class="tab"><strong>Remaining Units:</strong> {{ remaining_units }}</p>

{% endblock %}