{% extends 'lynx/base.html' %}
{% load mathfilters %}

{% block content %}

<h1>Authorization for {{ object.contact.first_name }} {{ object.contact.last_name }}</h1>
<!--<input type="button" onclick="location.href='/lynx/client/{{ object.contact_id }}';" value="" />-->
<form>
  <button class="btn btn-success" formaction="/lynx/client/{{ object.contact_id }}">Return to {{ object.contact.first_name }} {{ object.contact.last_name }}'s Information </button>
  <button class="btn btn-primary" formaction="/lynx/authorization-edit/{{ object.id }}"> Edit Authorization </button>
</form>
<hr>
<h2>Authorization Details</h2>
{% if object.intake_service_area %}<p class="tab"><strong>Intake Service Area:</strong> {{ object.intake_service_area }}</p>{% endif %}
{% if object.authorization_number %}<p class="tab"><strong>Authorization Number:</strong> {{ object.authorization_number }}</p>{% endif %}
{% if object.authorization_type %}<p class="tab"><strong>Authorization Type:</strong> {{ object.authorization_type }}</p>{% endif %}
{% if object.start_date %}<p class="tab"><strong>Start Date:</strong> {{ object.start_date|date:'F j, Y' }}</p>{% endif %}
{% if object.end_date %}<p class="tab"><strong>End Date:</strong> {{ object.end_date|date:'F j, Y' }}</p>{% endif %}
<p class="tab"><strong>Total {{ object.authorization_type }} Authorized:</strong> {{ total_time }}</p>
<p class="tab"><strong>Total {{ object.authorization_type }} Used:</strong> {{ total_hours }}</p>
<p class="tab"><strong>Total {{ object.authorization_type }} Remaining:</strong> {{ remaining_hours }}</p>
{% if object.billing_rate %}<p class="tab"><strong>Billing Rate:</strong> {{ rate }}</p>{% endif %}
{% if object.outside_agency %}<p class="tab"><strong>Name of Payment Source:</strong> {{ object.outside_agency }}</p>{% endif %}
{% if object.notes %}<p class="tab"><strong>Notes:</strong> {{ object.notes }}</p>{% endif %}
<p class="tab">Created by {{ user.first_name }} {{ user.last_name }} on {{ object.created|date:'F j, Y' }}</p>
<br>
<h2>Lesson Notes</h2>
    <div class="alert alert-success" role="alert">
      To navigate between table cells, use Ctrl+Alt+Arrow Keys<br>
        If using JAWS, you can activate Table mode by pressing JAWS+Space followed by T. This allows you to use arrow and other navigation keys to move across the table.
    </div>
    <table class="table">
        <tr>
            <th>Lesson Date</th>
            <th>Attendance</th>
            <th>Billed Units</th>
            <th>Instructional Units</th>
            <th>Successes</th>
            <th>Obstacles</th>
            <th>Recommendations</th>
            <th>Other</th>
            <th>Instructor</th>
            <th>Actions</th>
        </tr>
        {% for note in note_list %}
            <tr>
                <th>{{ note.date|date:'F j, Y' }}</th>
                <td>{{ note.attendance }}</td>
                <td>{% if object.authorization_type = 'Hours' %} {{ note.billed_units|div:4 }} Hours {% elif note.billed_units %}} 1 Class {% endif %}</td>
                <td>{{ note.instructional_units }}</td>
                <td>{{ note.successes }}</td>
                <td>{{ note.obstacles }}</td>
                <td>{{ note.recommendations }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.user.first_name }} {{ note.user.last_name }}</td>
                <td>
                    <form>
                      <button class="btn btn-success" formaction="/lynx/lesson-note/{{ note.id }}/">View</button>
                      <button class="btn btn-primary" formaction="/lynx/lesson-note-edit/{{ note.id }}">Edit</button>
                    </form>

                </td>
            </tr>
        {% endfor %}
        <tr>
                <td></td>
                <td>{{ total_present }}/{{ total_notes }}</td>
                <td>{{ total_billed }}</td>
                <td>{{ total_instruction }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
    </table>
<input type="button" onclick="location.href='/lynx/add-lesson-note/{{ object.id }}/';" value="Add Lesson Note" />
<br><br>
<h2>Progress Reports</h2>
    <ul>
        {% for report in report_list %}
            <li><a href='/lynx/progress-report/{{ report.id }}/'>{{ report.month }} by {{ report.instructor }}</a></li>
        {% empty %}
            <li>Sorry, no progress reports for this authorization</li>
        {% endfor %}
    </ul>
<!--    <h3 class="tab">{{ report.month }} by {{ report.instructor }}</h3>-->
<!--    <p class="tab"><strong>Accomplishments:</strong> {{ report.accomplishments }}</p>-->
<!--    <p class="tab"><strong>Remaining Objectives:</strong> {{ report.remaining_objectives }}</p>-->
<!--    <p class="tab"><strong>Estimated Hours:</strong> {{ report.estimated_hours }}</p>-->
<!--    <p class="tab"><strong>Client Behavior:</strong> {{ report.client_behavior }}</p>-->
<!--    <p class="tab"><strong>Notes:</strong> {{ report.notes }}</p>-->
<!--    <p class="tab">Entered by {{ report.user.first_name }} {{ report.user.last_name }} on {{ report.created|date:'m-d-Y' }}</p>-->
<!--    <p class="tab">Sorry, no progress reports for this authorization.</p>-->
<input type="button" onclick="location.href='/lynx/add-progress-report/{{ object.id }}/';" value="Add Progress Report" />
<br><br>
<h2>Billing Information</h2>
    <table class="table">
        <tr>
            <th>Lesson Date</th>
            <th>Billed Time ({{ object.authorization_type }})</th>
            <th>Rate</th>
            <th>Service Area</th>
            <th>Authorization Type</th>
        </tr>
        {% for note in note_list %}
            <tr>
                <td>{{ note.date|date:'F j, Y' }}</td>
                <td>{% if object.authorization_type = 'Hours' %} {{ note.billed_units|div:4 }} Hours {% elif note.billed_units %}} 1 Class {% endif %}</td>
                <td>{{ object.billing_rate }}</td>
                <td>{{ object.intake_service_area }}</td>
                <td>{{ object.authorization_type }}</td>
            </tr>
        {% endfor %}
    </table>
<p class="tab"><strong>Total Billed:</strong> {{ total_billed }}</p>
<p class="tab"><strong>Remaining Units:</strong> {{ remaining_hours }}</p>
<!--todo check this math-->
{% endblock %}
