{% extends 'lynx/base.html' %}
{% load time_convert %}

{% block title %}Authorizations{% endblock %}

{% block content %}
    <h2>Authorizations for {{ client.first_name }} {{ client.last_name }}</h2>
    {% if not request.GET.print %}<input type="button" class="btn btn-success" aria-label="Add New Authorization" onclick="location.href='/lynx/add-authorization/{{ client.id }}/';" value="Add New Authorization" />   <input type="button" class="btn btn-success" aria-label="Back to Client" onclick="location.href='/lynx/client/{{ client.id }}';" value="Return to {{ client.first_name }} {{ client.last_name }}'s Information" />
{% endif %}
    <ul>
        {% for auth in authorizations %}
            <li><a href='/lynx/authorization/{{ auth.id }}'>{{ auth.intake_service_area }}: {{ auth.start_date|date:'F j, Y' }}- {{ auth.end_date|date:'F j, Y' }}. {{ auth.authorization_number }}</a></li>
        {% empty %}
            <li><p class="tab">Sorry, no authorizations for this client</p></li>
        {% endfor %}
    </ul>
{% endblock %}