<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'lynx/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lynx/css/style.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'lynx/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'lynx/js/bootstrap.min.js' %}" ></script>

    {% block javascript %} {% endblock %}

    <title>{% block title %} Lynx {% endblock %}</title>
</head>
<body>
     <!-- Side navigation -->
    {% if not request.GET.print %}
    <nav role="navigation">
        <div class="sidenav">
            <img src="{% static 'lynx/images/logo.jpg' %}" alt="" style="width:160px;">
            <a href="/lynx/" title="Home">Home</a>
            <a href="/lynx/clients/" title="Clients">Clients</a>
            <a href="/admin/">Admin</a>
            <a href="/lynx/billing-report/" title="Core Billing Report">Core Billing Report</a>
            <a href="/lynx/report-search" title="Print Monthly Invoices">Print Monthly Invoices</a>
            <a href="/lynx/add-sip-note-bulk/" title="Bulk SIP Notes">Bulk SIP Notes</a>
            <a href="/accounts/password_change/" title="Update Password">Update Password</a>
            {% if user.is_authenticated %}
              <a href="/accounts/logout/">Logout</a>
            {% endif %}
        </div>

         <div class="sidebar">
         </div>
    </nav>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 align-self-center">{% block header %}{% endblock %}</div>
            <div class="col-3"><img src="{% static 'lynx/images/logo.jpg' %}" alt="sftb logo" style="width:160px;"></div>
        </div>
    </div>
    {% endif %}

    <!-- Page content -->
    <main role="main">
        <div class="main">
            <div class="container-fluid">
                {% block content %} {% endblock %}
            </div>
        </div>
    </main>
</body>
</html>