<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'lynx/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lynx/css/style.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'lynx/images/favicon.ico' %}"/>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'lynx/js/bootstrap.min.js' %}" ></script>

    {% block javascript %} {% endblock %}

    <title>{% block title %} Lynx {% endblock %}</title>
</head>
<body>
     <!-- Side navigation -->
    <nav role="navigation">
        <div class="sidenav">
            <img src="{% static 'lynx/images/logo.jpg' %}" alt="" style="width:160px;">
            <a href="/lynx/" title="Home">Home</a>
            <a href="/lynx/clients/" title="Clients">Clients</a>
            <a href="/admin/">Admin</a>
            <a href="/lynx/billing-report/" title="Core Billing Report">Core Billing Report</a>
        </div>

         <div class="sidebar">
         </div>
    </nav>

    <!-- Page content -->
    <main role="main">
        <div class="main">
            {% block content %} {% endblock %}
        </div>
    </main>
</body>
</html>