{% extends 'lynx/base.html' %}

{% block javascript %}
<script>

    $(document).ready(function() {
        var year = new Date().getFullYear();
        for (var i = 1999; i <= year; i++) {
            $('#selYear').append("<option value="+ i +">"+ i +"</option>");
        }
        var dt = new Date();
        document.getElementById("today").innerHTML = dt.toLocaleString();
    });

</script>
{% endblock %}

{% block content %}

<h1> Billing Review</h1>
<input type="button" onclick="location.href='/lynx/authorization/{{ object.authorization_id }}';" value="Return to Authorization" /> <input type="button" onclick="location.href='/lynx/client/{{ object.authorization.contact.id}}';" value="Return to Client" />

<p>Please review the following information. Listed below is the billing information on file for this authorization. You can modify the contact information for the payment source, or view a printable invoice.</p>
<div>
    <form action='/lynx/billing-review/{{ object.id}}/' method="get">
        <select name="selMonth" id="selMonth" title="Month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select name="selYear" id="selYear" title="Year">
        </select>
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>


<h2>Invoice Information</h2>
<p class="tab"><strong>Invoice Date:</strong><div id="today"></div> </p>
<p class="tab"><strong>Client:</strong> {{ object.contact.last_name }}, {{ object.contact.first_name }} </p>
<p class="tab"><strong>Authorization Number:</strong> {{ object.authorization_number }} </p>
<p class="tab"><strong>Authorization Type:</strong> {{ object.authorization_type }}</p>
<p class="tab"><strong>Total Hours on Authorization:</strong> {{ total_time }}</p>
<p class="tab"><strong>Hours Taught This Month:</strong> {{ month_used }}</p>
<p class="tab"><strong>Instructor(s):</strong> {{ instructors }}</p>

<h2>Payment Source Information</h2>
<p class="tab"><strong>Payment Source:</strong> {{ object.outside_agency.name }} - {{ object.outside_agency.contact }}</p>
<p class="tab"><strong>Billing Address:</strong> </p>
<p class="tab"><strong>Phone Number:</strong> </p>

{% if not request.GET.print %}
<form>
  <button class="btn btn-success" formaction="/lynx/billing-review/{{ object.id }}/?print=true">Print View </button>
</form>
{% endif %}
{% endblock %}