{% extends 'lynx/base.html' %}
{% load mathfilters %}
{% load date_tags %}

{% block javascript %}
<script>

    $(document).ready(function() {
        var year = new Date().getFullYear();
        for (var i = year; i >= 1999; i--) {
            $('#selYear').append("<option value="+ i +">"+ i +"</option>");
        }

        var dt = new Date();
        document.getElementById("today").innerHTML = dt.toLocaleString();
    });

</script>
{% endblock %}

{% block header %}
  {% if request.GET.print %}
    <h1>Invoice for the month of {{ month|month_name }}, {{year}}</h1>
  {% endif %}
{% endblock %}

{% block content %}

{% if not request.GET.print %}
<h1>Invoice for the month of {{ month|month_name }}, {{ year }}</h1>
<input type="button" onclick="location.href='/lynx/authorization/{{ object.id }}';" value="Return to Authorization" /> <input type="button" onclick="location.href='/lynx/client/{{ object.authorization.contact.id}}';" value="Return to Client" />
<p>Please review the following information. Listed below is the billing information on file for this authorization. You can modify the contact information for the payment source, or view a printable invoice.</p>

<div>
    <form action='/lynx/billing-review/{{ object.id}}/' method="get">
        <select name="selMonth" id="selMonth" title="Month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select name="selYear" id="selYear" title="Year">
        </select>
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>
{% endif %}

<h2>Payment Source Information</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Payment Source:</strong> {{ payment }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Billing Address:</strong><br>
        {{ object.outside_agency }}<br>
        {% for addr in address %}
            {{ addr.address_one }}<br>
            {{ addr.address_two }} {{ addr.suite }}<br>
            {{ addr.city }}, {{ addr.state }} {{ addr.zip_code }}<br>
        {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Phone Number:</strong>
        {% for num in phone %}
            {{ num.phone }}<br>
        {% endfor %}
    </div>
  </div>
</div>
<br><br>
<h2>Invoice Information</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Invoice Date:</strong><span id="today"></span> </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Client:</strong> {{ object.contact.last_name }}, {{ object.contact.first_name }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Authorization Number:</strong> {{ object.authorization_number }} - {{ object.intake_service_area }}</div>
  </div>
   <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Authorization Type:</strong> {{ object.authorization_type }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Total {{ object.authorization_type }} on Authorization:</strong> {{ total_time }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Instructor(s):</strong> {{ instructors }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Total Billed {{ object.authorization_type }}:</strong> {{ total_billed }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Total:</strong> {{ instructors }}</div>
  </div>
    <br><br>
</div>
    <table class="table">
        <tr>
            <th>Lesson Date</th>
            <th>Authorization Type</th>
            <th>Billed Time</th>
            <th>Rate</th>
            <th>Service Area</th>
        </tr>
        {% for note in note_list %}
            <tr>
                <td><a href='/lynx/lesson-note/{{ note.id }}/'>{{ note.date|date:'F j, Y' }}</a></td>
                <td>{{ object.authorization_type }}</td>
                <td>{% if object.authorization_type == 'Hours' %} {{ note.billed_units|div:4 }} {% elif note.billed_units %} 1 {% endif %}</td>
                <td>${{ object.billing_rate }}</td>
                <td>{{ object.intake_service_area }}</td>
            </tr>
        {% endfor %}
    </table>

{% if not request.GET.print %}
<form action="/lynx/billing-review/{{ object.id }}/" method="GET">
  <input type="hidden" name="print" value="true" />
  <input type="submit" value="Print View" class="btn btn-primary" />
</form>
{% endif %}

{% endblock %}