{% extends 'lynx/base.html' %}
{% render_paginator 3 %}

{% block title %}Advanced Client Search{% endblock %}

{% block content %}
    <h1>Advanced Client Search Results</h1>
    <p>Search by client name, phone number, zip code, or county.</p>
    <p>Notes: Do not use any special characters or spaces to search for a phone number (ex. use 8675309 not 867-5309, (111) 867-5309, or 867 5309)</p>
    <form action="{% url 'lynx:client_advanced_search' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <input type="submit" value="Search All Clients" />
    </form>
    <hr>
    <table class="table">
        <tr>
            <th scope="col">Client Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Zip Code</th>
            <th scope="col">County</th>
        </tr>
        {% for client in page_obj %}
            <tr>
                <td><a href="client/{{ client.id }}">{{ client.last_name }}, {{ client.first_name }} {% if client.middle_name %}{{ client.middle_name }} {% endif %} {{ client.created|date:"Y-n-j" }}</a></td>
                <td>{{ client.first_name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.zip_code }}</td>
                <td>{{ client.county }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="btn-group" role="group">
      {% if has_previous %}
         <a class="btn btn-secondary" href="{{ request.path }}?page={{ previous }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-left"></i></a>
      {% else %}
         <button type="button" class="btn btn-secondary" disabled="disabled" aria-label="Previous Page"><i class="fas fa-angle-left"></i></button>
      {% endif %}

      {% if show_first %}
         <a class="btn btn-secondary" href="{{ request.path }}?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">1</a>
         <button type="button" class="btn btn-secondary" disabled="disabled">...</button>
      {% endif %}

      {% for linkpage in page_numbers %}
        {% ifequal linkpage page %}
           <button type="button" class="btn btn-secondary active" aria-label="Page {{linkpage}}">{{ page }}</button>
        {% else %}
           <a class="btn btn-secondary" href="{{ request.path }}?page={{ linkpage }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ linkpage }}</a>
        {% endifequal %}
      {% endfor %}

      {% if show_last %}
         <button type="button" class="btn btn-secondary" disabled="disabled" aria-label="Last Page">...</button>
         <a class="btn btn-secondary" href="{{ request.path }}?page=last{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ pages }}</a>
      {% endif %}

      {% if has_next %}
         <a class="btn btn-secondary" href="{{ request.path }}?page={{ next }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-right"></i></a>
      {% else %}
         <button type="button" class="btn btn-secondary" disabled="disabled" aria-label="Next Page"><i class="fas fa-angle-right"></i></button>
      {% endif %}
    </div>
<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->
{% endblock %}