{% extends 'lynx/base.html' %}

{% block title %}Advanced Client Search{% endblock %}

{% block content %}
    <h1>Advanced Client Search Results</h1>
    <p>Search by client name, phone number, zip code, or county.</p>
    <p>Notes: Do not use any special characters or spaces to search for a phone number (ex. use 8675309 not 867-5309, (111) 867-5309, or 867 5309)</p>
    <form action="{% url 'lynx:client_advanced_search' %}" method="post">
        <input name="q" type="text" placeholder="Search...">
        <input type="submit" value="Search All Clients" />
    </form>
    <hr>
    <table class="table">
        <tr>
            <th scope="col">Client Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Zip Code</th>
            <th scope="col">County</th>
        </tr>
        {% for client in page_obj %}
            <tr>
                <td><a href="client/{{ client.id }}">{{ client.last_name }}, {{ client.first_name }} {% if client.middle_name %}{{ client.middle_name }} {% endif %} {{ client.created|date:"Y-n-j" }}</a></td>
                <td>{{ client.first_name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.address.zip_code }}</td>
<!--                <td>{{ client.zip_code }}</td>-->
<!--                <td>{{ client.county }}</td>-->
<!--                <td>{{ client.contact.address.county }}</td>-->
<!--                <td>{{ client.contact.county }}</td>-->
                <td>{{ client.address.county }}</td>
            </tr>
        {% endfor %}
    </table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}