{% extends 'lynx/base.html' %}

{% block title %}Client Search{% endblock %}

{% block content %}
    <h1>Client Search Results</h1>
    <input type="button" onclick="location.href='/lynx/search?excel=';" value="Advanced Search" />

    <form action="{% url 'lynx:client_search' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <input type="submit" value="Search All Clients" />
    </form>
    <ul>
        {% for client in object_list %}
            <li><a href="client/{{ client.id }}">{{ client.last_name }}, {{ client.first_name }} {% if client.middle_name %}{{ client.middle_name }} {% endif %} {{ client.intake_date }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}