{% extends 'lynx/base.html' %}
{% load time_convert %}

{% block content %}

<h1>{{ object.first_name }} {{ object.last_name }}</h1>
{% if not request.GET.print %}
{% if object.core_client %}
<input type="button" class="btn btn-success" aria-label="Core Authorizations" onclick="location.href='/lynx/authorizations/{{ object.id }}';" value="Core Authorizations" />
{% endif %}
{% if object.sip_client %}
<input type="button" class="btn btn-success" aria-label="SIP Plans" onclick="location.href='/lynx/sipplans/{{ object.id }}';" value="SIP Plans" />
<input type="button" class="btn btn-success" aria-label="SIP Notes" onclick="location.href='/lynx/sipnotes/{{ object.id }}';" value="SIP Notes" />
{% endif %}
<input type="button" class="btn btn-success" aria-label="Jump to Client Notes" onclick="location.href='#notes';" value="Jump to Client Notes" />
<input type="button" class="btn btn-success" aria-label="Jump to File Upload" onclick="location.href='#upload';" value="Jump to File Upload" />
{% endif %}

<h2>Client Information</h2>
<p class="tab"><strong>Name:</strong> {{ object.first_name }} {% if object.middle_name %}{{ object.middle_name }} {% endif %}{{ object.last_name }}</p>
{% if object.company %}<p class="tab"><strong>Company:</strong> {{ object.company }}</p>{% endif %}
{% if object.deceased %}<p class="tab"><strong>Deceased</strong></p>{% endif %}
<p class="tab"><strong>Services:</strong> {% if object.donor %}Donor, {% endif %}{% if object.sip_client %}SIP Client, {% endif %}
    {% if object.core_client %}Core Client, {% endif %}{% if object.careers_plus %}Careers Plus, {% endif %}
    {% if object.careers_plus_youth %}Careers Plus Youth, {% endif %}{% if object.volunteer %}Volunteer, {% endif %}
    {% if object.access_news %}Access News, {% endif %}{% if object.other_services %} {{object.other_services}} {% endif %}</p>
{% if not request.GET.print and user.is_superuser %}<p class="tab"><input type="button" aria-label="Edit Client Information" class="btn btn-primary" onclick="location.href='/lynx/contact-edit/{{ object.id }}';" value="Edit Client Information" />  <input type="button" aria-label="Delete Client" class="btn btn-danger" onclick="location.href='/lynx/contact-confirm/{{ object.id }}';" value="Delete Client" /></p> {% endif %}
<!--{% if not request.GET.print %}<p class="tab"><input type="button" aria-label="Edit Client Information" class="btn btn-primary" onclick="location.href='/lynx/contact-edit/{{ object.id }}';" value="Edit Client Information" /></p> {% endif %}-->
<!--<p class="tab"><input type="button" aria-label="Edit Client Information" class="btn btn-primary fa fa-input" onclick="location.href='/lynx/contact-edit/{{ object.id }}';" value="&#xf044  Edit Client Information" /></p>-->
{% for address in address_list %}
    {% if not address.bad_address and address.address_one %}
        <p class="tab">
            <strong>Address:</strong><br>
            {{ address.address_one }}<br>
            {% if address.address_two %}{{ address.address_two }}<br>{% endif %}
            {% if address.suite %}Apt/Suite {{ address.suite }}<br>{% endif %}
            {{ address.city }}, {{ address.state }} {{ address.zip_code }}<br>
            {{ address.county }}<br>
            {% if not request.GET.print %}<input type="button" class="btn btn-primary" aria-label="Edit Address" onclick="location.href='/lynx/address-edit/{{ address.id }}';" value="Edit Address" />{% endif %}
        </p>
        {% if address.region %}<p class="tab"><strong>SIR Region:</strong> {{ address.region }}</p>{% endif %}
        {% if address.cross_streets %}<p class="tab"><strong>Cross Streets:</strong> {{ address.cross_streets }}</p>{% endif %}
        {% if address.preferred_medium %}<p class="tab"><strong>Preferred Mailing Medium:</strong> {{ address.preferred_medium }}</p>{% endif %}
        {% if address.address_notes %}<p class="tab"><strong>Notes:</strong> {{ address.address_notes }}</p>{% endif %}
    {% endif %}
{% empty %}
    <p class="tab">Sorry, no associated addresses for this client</p>
{% endfor %}


{% for phone in phone_list %}
    {% if phone.active %}
        <p class="tab">
            <strong>{{ phone.phone_type }} Phone Number:</strong> {{ phone.phone }} <br>
            {% if not request.GET.print %}
                <a href='/lynx/phone-edit/{{ phone.id }}'>Edit</a> | <a href='/lynx/phone-confirm/{{ phone.id }}/{{object.id}}'>Delete</a>
            {% endif %}
        </p>
    {% endif %}
{% empty %}
    <p class="tab">Sorry, no associated phone numbers for this client</p>
{% endfor %}


{% for email in email_list %}
    {% if email.active %}
        <p class="tab">
            <strong>{{ email.email_type }} Email Address:</strong> {{ email.email }} <br>
            {% if not request.GET.print %}<input type="button" class="btn btn-primary" aria-label="Edit Email" onclick="location.href='/lynx/email-edit/{{ email.id }}';" value="Edit Email" />{% endif %}
        </p>
    {% endif %}
{% empty %}
    <p class="tab">Sorry, no associated emails for this client</p>
{% endfor %}
{% if not request.GET.print %}
<input type="button" class="btn btn-success" aria-label="Add Address" onclick="location.href='/lynx/add-address/{{ object.id }}/';" value="Add Address" />
<input type="button" class="btn btn-success" aria-label="Add Phone Number" onclick="location.href='/lynx/add-phone/{{ object.id }}/';" value="Add Phone Number" />
<input type="button" class="btn btn-success" aria-label="Add Email" onclick="location.href='/lynx/add-email/{{ object.id }}/';" value="Add Email" />
{% endif %}

<h2>Emergency Contacts</h2>
{% for emergency in emergency_list %}
    <h3 class="tab">{{ emergency.name }}</h3>
    {% if emergency.relationship %}<p class="tab"><strong>Relationship:</strong> {{ emergency.relationship }} </p>{% endif %}
    {% for phone in emergency.phone_set.all %}
        {% if phone.active and phone.phone %}
            <p class="tab">
                <strong>{{ phone.phone_type|default_if_none:"" }} Phone Number:</strong> {{ phone.phone }} <br>
                {% if not request.GET.print %}
                    <a href='/lynx/phone-edit/{{ phone.id }}'>Edit</a> | <a href='/lynx/phone-confirm/{{ phone.id }}/{{object.id}}'>Delete</a>
                {% endif %}
            </p>
        {% endif %}
    {% empty %}
        <p class="tab">Sorry, no associated phone numbers for this emergency contact</p>
    {% endfor %}
    {% for email in emergency.email_set.all %}
        {% if email.active and email.email%}
            <p class="tab">
                <strong>{{ email.email_type|default_if_none:"" }} Email Address:</strong> {{ email.email }} <br>
                {% if not request.GET.print %}<input type="button" class="btn btn-primary" aria-label="Edit Email" onclick="location.href='/lynx/email-edit/{{ email.id }}';" value="Edit Email" />{% endif %}
            </p>
        {% endif %}
    {% empty %}
        <p class="tab">Sorry, no associated emergency emails for this client</p>
    {% endfor %}
    {% if not request.GET.print %}
        <a href='/lynx/emergency-contact-edit/{{ emergency.id }}'>Edit {{ emergency.name }}'s Information</a> | <a href='/lynx/add-emergency-phone/{{ emergency.id }}/'>Add Emergency Phone Number for {{ emergency.name }}</a> | <a href='/lynx/add-emergency-email/{{ emergency.id }}/'>Add Emergency Email for {{ emergency.name }}</a>
    {% endif %}
{% empty %}
    <p class="tab">Sorry, no emergency contacts for this client</p>
{% endfor %}
<br><br>
{% if not request.GET.print %}<input type="button" class="btn btn-success" aria-label="Edit Emergency Contact" onclick="location.href='/lynx/add-emergency/{{ object.id }}/';" value="Add Emergency Contact" />{% endif %}
    <br><br>
<br><hr>
<h2>Intake Information</h2>
{% for intake in intake_list %}
    {% if not request.GET.print %}<input type="button" class="btn btn-primary" aria-label="Edit Intake Information" onclick="location.href='/lynx/intake-edit/{{ intake.id }}';" value="Edit Intake Information" />{% endif %}
<br>
    <p class="tab"><strong>Intake Date:</strong> {{intake.intake_date|date:'F j, Y'}} </p>
    <h3>Demographics</h3>
        {% if intake.birth_date %}<p class="tab"><strong>Birth Date:</strong> {{ intake.birth_date|date:'F j, Y' }}</p>{% endif %}
        {% if intake.age_group %}<p class="tab"><strong>Age Group:</strong> {{ intake.age_group }}</p>{% endif %}
        {% if intake.gender %}<p class="tab"><strong>Gender:</strong> {{ intake.gender }}</p>{% endif %}
        {% if intake.pronouns %}<p class="tab"><strong>Pronouns:</strong> {{ intake.pronouns }}</p>{% endif %}
        {% if intake.ethnicity %}<p class="tab"><strong>Ethnicity:</strong> {{ intake.ethnicity }}{% if intake.other_ethnicity %}, {{ intake.other_ethnicity }}{% endif %}</p>{% endif %}
        {% if intake.first_language %}<p class="tab"><strong>First Language:</strong> {{ intake.first_language }}</p>{% endif %}
        {% if intake.second_language %}<p class="tab"><strong>Second Language:</strong> {{ intake.second_language }}</p>{% endif %}
        {% if intake.other_languages %}<p class="tab"><strong>Other Languages:</strong> {{ intake.other_languages }}</p>{% endif %}
        {% if intake.income %}<p class="tab"><strong>Income:</strong> {{ intake.income }}</p>{% endif %}
        {% if intake.education %}<p class="tab"><strong>Education:</strong> {{ intake.education }}</p>{% endif %}
        {% if intake.living_arrangement %}<p class="tab"><strong>Living Arrangements:</strong> {{ intake.living_arrangement }}</p>{% endif %}
        {% if intake.residence_type %}<p class="tab"><strong>Residence Types:</strong> {{ intake.residence_type }}</p>{% endif %}
        {% if intake.veteran %}<p class="tab"><strong>Veteran:</strong> {{ intake.veteran }}</p>{% endif %}
        {% if intake.hired %}<p class="tab"><strong>Hired:</strong> {{ intake.hired}}</p>{% endif %}
        {% if intake.employer %}<p class="tab"><strong>Employer:</strong> {{ intake.employer }}</p>{% endif %}
        {% if intake.hire_date %}<p class="tab"><strong>Hire Date: </strong> {{ intake.hire_date|date:'F j, Y' }}</p>{% endif %}
        {% if intake.position %}<p class="tab"><strong>Position: </strong> {{ intake.position }}</p>{% endif %}
        {% if intake.work_history %}<p class="tab"><strong>Work History:</strong> {{ intake.work_history|linebreaks }}</p>{% endif %}
        {% if intake.payment_source %}<p class="tab"><strong>Payment:</strong> {{ intake.payment_source }}</p>{% endif %}
        {% if intake.referred_by %}<p class="tab"><strong>Referred By:</strong> {{ intake.referred_by }}</p>{% endif %}
        {% if intake.notes %}<p class="tab"><strong>Notes:</strong> {{ intake.notes|linebreaks }}</p>{% endif %}
     {% if intake.crime %}<h3>Criminal Background</h3>{% endif %}
        {% if intake.crime %}<p class="tab"><strong>Criminal History:</strong> {{ intake.crime }}</p>{% endif %}
        {% if intake.crime_info %}<p class="tab"><strong>Criminal Details:</strong> {{ intake.crime_info|linebreaks }}</p>{% endif %}
        {% if intake.crime_other %}<p class="tab"><strong>Criminal History (Other):</strong> {{ intake.crime_other|linebreaks }}</p>{% endif %}
        {% if intake.parole %}<p class="tab"><strong>Parole:</strong> {{ intake.parole }}</p>{% endif %}
        {% if intake.parole_info %}<p class="tab"><strong>Parole Information:</strong> {{ intake.parole_info|linebreaks }}</p>{% endif %}
        {% if intake.crime_history %}<p class="tab"><strong>Other Criminal Information:</strong> {{ intake.crime_history|linebreaks }}</p>{% endif %}
    <h3>Ocular Medical History</h3>
        {% if intake.eye_condition %}<p class="tab"><strong>Eye Condition:</strong> {{ intake.eye_condition }} </p>{% endif %}
        {% if intake.eye_condition_date %}<p class="tab"><strong>Date of Onset:</strong> {{ intake.eye_condition_date|date:'F j, Y' }}</p>{% endif %}
        {% if intake.secondary_eye_condition %}<p class="tab"><strong>Notes:</strong> {{ intake.secondary_eye_condition|linebreaks }}</p>{% endif %}
        {% if intake.degree %}<p class="tab"><strong>Degree of Vision Loss:</strong> {{ intake.degree }}</p>{% endif %}
        {% if intake.prognosis %}<p class="tab"><strong>Prognosis:</strong> {{ intake.prognosis }}</p>{% endif %}

    <h3>Other Medical History</h3>
        <h4>Other Conditions</h4>
        <ul>
            {% if intake.hearing_loss %}<li>Hearing Loss: {{ intake.hearing_loss_notes }} </li>{% endif %}
            {% if intake.mobility %}<li>Mobility: {{ intake.mobility_notes }} </li>{% endif %}
<!--            {% if intake.dexterity %}<li>Use of Hands, Arms, and Fingers: {{ intake.dexterity_notes }} </li>{% endif %}}-->
<!--            {% if intake.musculoskeletal %}<li>Musculoskeletal Disorders: {{ intake.musculoskeletal_notes }} </li>{% endif %}-->
            {% if intake.pain %}<li>Pain: {{ intake.pain_notes }} </li>{% endif %}
            {% if intake.arthritis %}<li>Arthritis: {{ intake.arthritis_notes }} </li>{% endif %}
            {% if intake.heart %}<li>Cardiovascular Disease: {{ intake.heart_notes }} </li>{% endif %}
            {% if intake.high_bp %}<li>Hypertension: {{ intake.high_bp_notes }} </li>{% endif %}
            {% if intake.stroke %}<li>Stroke: {{ intake.stroke_notes }} </li>{% endif %}
            {% if intake.seizure %}<li>Seizure: {{ intake.seizure_notes }} </li>{% endif %}
            {% if intake.migraine %}<li>Migraine Headache: {{ intake.migraine_notes }} </li>{% endif %}
            {% if intake.diabetes %}<li>Diabetes: {{ intake.diabetes_notes }} </li>{% endif %}
            {% if intake.dialysis %}<li>Dialysis: {{ intake.dialysis_notes }} </li>{% endif %}
            {% if intake.neuropathy %}<li>Neuropathy: {{ intake.neuropathy_notes }} </li>{% endif %}
            {% if intake.memory_loss %}<li>Memory Loss/Retention: {{ intake.memory_loss_notes }} </li>{% endif %}
            {% if intake.learning_disability %}<li>Learning Disability: {{ intake.learning_disability_notes }} </li>{% endif %}
            {% if intake.alzheimers %}<li>Alzheimer’s Disease: {{ intake.alzheimers_notes }} </li>{% endif %}
            {% if intake.substance_abuse %}<li>Substance Abuse: {{ intake.substance_abuse_notes }} </li>{% endif %}
            {% if intake.asthma %}<li>Asthma: {{ intake.asthma_notes }} </li>{% endif %}
            {% if intake.cancer %}<li>Cancer: {{ intake.cancer_notes }} </li>{% endif %}
            {% if intake.geriatric %}<li>Other Major Geriatric Concerns: {{ intake.geriatric_notes }} </li>{% endif %}
            {% if intake.communication %}<li>Communication Impairment(s): {{ intake.communication_notes }} </li>{% endif %}
        </ul>
        {% if intake.allergies %}<p class="tab"><strong>Allergies:</strong> {{ intake.allergies|linebreaks }}</p>{% endif %}
        {% if intake.mental_health %}<p class="tab"><strong>Mental Health:</strong> {{ intake.mental_health|linebreaks }}</p>{% endif %}
        {% if intake.medications %}<p class="tab"><strong>Medications:</strong> {{ intake.medications|linebreaks }}</p>{% endif %}
        {% if intake.medical_notes %}<p class="tab"><strong>Medical Notes:</strong> {{ intake.medical_notes|linebreaks }}</p>{% endif %}

    <h4>Covid-19 Vaccination Record</h4>
        {% if notes.all %}
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
                {% for vax in vaccine_list %}
                    <tr> {{ vax.vaccination_date }}</tr>
                    <tr> {{ vax.vaccine }}</tr>
                    <tr> {{ vax.vaccine_note }}</tr>
                    <tr><a href='/lynx/vaccine-edit/{{ vax.id }}'>Edit</a> | <a href='/lynx/vaccine-confirm/{{ vax.id }}/{{ object.id }}'>Delete</a></tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="tab">Sorry, no vaccination information for this client</p>
        {% endif %}
        {% if not request.GET.print %}<input type="button" class="btn btn-success" aria-label="Add Vaccination Record" onclick="location.href='/lynx/add-vaccination/{{ object.id }}/';" value="Add Vaccination Record" />{% endif %}

    <h3>Blindness Skills/Other Information</h3>
        {% if intake.performs_tasks %}<p class="tab"><strong>Performs Tasks:</strong> {{ intake.performs_tasks }}</p>{% endif %}
        {% if intake.previous_training %}<p class="tab"><strong>Previous Training:</strong> {{ intake.previous_training|linebreaks }}</p>{% endif %}
        {% if intake.training_goals %}<p class="tab"><strong>Training Goals:</strong> {{ intake.training_goals|linebreaks }}</p>{% endif %}
        {% if intake.training_preferences %}<p class="tab"><strong>Training Preferences:</strong> {{ intake.training_preferences|linebreaks }}</p>{% endif %}
        {% if intake.employment_goals %}<p class="tab"><strong>Employment Goals:</strong> {{ intake.employment_goals|linebreaks }}</p>{% endif %}
        {% if intake.hobbies %}<p class="tab"><strong>Hobbies/Interests:</strong> {{ intake.hobbies|linebreaks }}</p>{% endif %}
        {% if intake.other %}<p class="tab"><strong>Other Notes:</strong> {{ intake.other|linebreaks }}</p>{% endif %}
    {% if not request.GET.print %}<input type="button" class="btn btn-primary" aria-label="Edit Intake Information" onclick="location.href='/lynx/intake-edit/{{ intake.id }}';" value="Edit Intake Information" />{% endif %}
{% empty %}
    <p class="tab">Sorry, no intake information for this client</p>
    {% if not request.GET.print %}<input type="button" class="btn btn-success" aria-label="Add Intake Information" onclick="location.href='/lynx/add-intake/{{ object.id }}/';" value="Add Intake Information" />{% endif %}
{% endfor %}
<br><hr>

<h2 id="notes">Client Notes</h2>
{% for note in note_list %}
    <p class="tab">{{ note.created|date:'F j, Y' }}: {{ note.note|linebreaks }}<br>
        -{{ note.user.first_name }} {{ note.user.last_name }}
        {% if not request.GET.print %}<a href='/lynx/intake-note-edit/{{ note.id }}'>Edit</a> | <a href='/lynx/intake-note-confirm/{{ note.id }}/{{ object.id }}'>Delete</a>{% endif %}
    <hr>
{% endfor %}
{% if object.contact_notes %}
    <p class="tab">{{ object.note_date|date:'F j, Y' }}: {{ object.contact_notes|linebreaks }}<br>
        Note By: {{ object.user.first_name }} {{ object.user.last_name }} <a href='/lynx/intake-edit/{{ object.id }}'>Edit</a>
{% endif %}
<br><br>
{% if not request.GET.print %}
<h3>Add New Client Note</h3>
<form action="/lynx/client/{{ object.id }}" method="post">
<!--    <p>These notes are for high level client information. Please don't record lesson or service information here.</p>-->
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Submit Client Note">
</form>
<br><hr>
<h3>Uploaded Files</h3>
<ul>
    {% for doc in document_list %}
        {% if doc.description %}
            <li><a href='/lynx/download/{{ doc.document }}' download>{{ doc.description }}</a></li>
        {% else %}
            <li><a href='/lynx/download/{{ doc.document }}' download>No title</a></li>
        {% endif %}
    {% empty %}
        <li><p class="tab">Sorry, no files uploaded for this client</p></li>
    {% endfor %}
</ul>
<br>
<h3 id="upload">Upload Files</h3>
<form action="/lynx/client/{{ object.id }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ upload_form.as_p }}
    <input type="submit" class="btn btn-success" value="Upload">
</form>
<br><br>
<form action="/lynx/client/{{ object.id }}" method="GET">
  <input type="hidden" name="print" value="true" />
  <input type="submit" value="Print View" class="btn btn-primary" />
</form>
{% endif %}

{% endblock %}