<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>

<body>
    <str>Address changes for the last week</str> </br>
        <table class="table">
            <tr>
                <td>Client Name</td>
                <td>Instructor Name</td>
                <td>Change Type</td>
                <td>New Address</td>
            </tr>

            {% for change in change_set %}
                <tr>
                    <td>{{ change.client_name }}</td>
                    <td>{{ change.user_name }}</td>
                    <td>{% if change.history_type == '+' %}New Address{% endif %}{% if change.history_type == '~' %}Address Changed{% endif %}{% if change.history_type == '-' %}Address Deleted{% endif %}</td>
                    <td>{{ change.address_one }}</br>{{ change.address_two }}</br>{{ change.city }}</td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>