{% extends 'lynx/base.html' %}

{% block content %} {{message}}

<div>
    <p>To use Lynx, start by navigating to the Clients link in the side bar. All active clients are shown here. You can navigate through the list by typing the last name. Once you have a client selected, you can choose to 'View Client'. On this page you can also add a new client, or see all clients, including ones no longer recieving services from SFTB.</p>
    <p>On the client page, you can add, edit, and view all of that client's information. What is shown is dependant on what programs the client is enrolled in. Clients that have only been in SIP should only show SIP notes, not Authorizations. Progress Reports and Lesson Notes are attached to Authorizations.</p>
    <p>If you encounter any errors, please send an email to <a href="mailto:agulyas@societyfortheblind.org">agulyas@societyfortheblind.org</a> with a description of the actions preceding the error. A screenshot of the page and/or a copy the text would also be helpful. Thank you for your understanding!</p>
    <p>Thank you!</p>
</div>

{% endblock %}
