{% extends "lynx/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Assignments by Instructor{% endblock %}

{% block content %}

    <form id="get-assignments" method="get">
        {{ filter.form|crispy }}
        <input class="btn btn-success" type="submit" />
    </form>

<br>
<hr>
<br>
    <table>
        <thead>
            <tr>
                <th scope="col">Assignment Date <span aria-hidden="true">&uarr;</span></th>
                <th scope="col">Client <span aria-hidden="true">&uarr;</span></th>
                <th scope="col">Program <span aria-hidden="true">&uarr;</span></th>
                <th scope="col">Priority <span aria-hidden="true">&uarr;</span></th>
                <th scope="col">Assignment Note</th>
                <th scope="col">Most Recent SIP/18-54 Program Note</th>
                <th scope="col">Most Recent Client Note</th>
                <th scope="col">Assigned By <span aria-hidden="true">&uarr;</span></th>
                <th scope="col">Instructor <span aria-hidden="true">&uarr;</span></th>
            </tr>
        </thead>
        <tbody>
        {% for key, assignment in assignment_list.items %}
            <tr id="{{ assignment.assignment_id }}">
                <td class="short-cells"><a href="/lynx/assignments/{{ assignment.client_id }}#assignment-{{ assignment.assignment_id }}">{{ assignment.assignment_date }}</a></td>
                <td class="short-cells"><a class="client-link" href="/lynx/client/{{ assignment.client_id }}">{{ assignment.client_last_name }}, {{ assignment.client_first_name }}</a></td>
                <td class="short-cells">{{ assignment.program }}</td>
                <td class="short-cells">{{ assignment.assignment_priority }}</td>
                <td class="long-cells">{{ assignment.note }}</td>
                <td class="long-cells"><a href="/lynx/{% if assignment.program == 'SIP' %}sip{% else %}sip1854{% endif %}notes/{{ assignment.client_id }}">{% if assignment.program_note == '' %}None{% else %}{{ assignment.program_note_date }}, {{assignment.program_note_instructor}}, {{assignment.program_note}}{% endif %}</a></td>
                <td class="long-cells"><a class="client-link" href="/lynx/client/{{ assignment.client_id }}#notes">{% if assignment.intakenote == '' %}None{% else %}{{ assignment.intakenote_date }}, {{assignment.intakenote_instructor}}, {{assignment.intakenote}}{% endif %}</a></td>
<!--                <td>{{ assignment }}</td>-->
                <td class="short-cells">{{ assignment.assigned_by_first_name }} {{ assignment.assigned_by_last_name }}</td>
                <td class="short-cells">{{ assignment.instructor_first_name }} {{ assignment.instructor_last_name }}</td>
                {% if user.is_superuser %}
                    <td class="short-cells">
                        <form>
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.get_full_path }}">
                          <button class="btn btn-primary" formaction="/lynx/assignment-edit/{{ assignment.assignment_id }}">Edit</button>
                          <button class="btn btn-danger" formaction="/lynx/assignment-confirm/{{ assignment.assignment_id }}/{{ assignment.client_id }}">Delete</button>
                        </form>
                    </td>
                {% endif %}
                <!-- <td><a href="/lynx/assignment-edit/{{ key }}">{{ assignment.assignment_status }}</a></td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- 2024-06-12 Successful experiment that is not needed at the moment
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {

        /*
          Each assignment row  has an id and  the first column
          (the  date)  is  turned  into a  link  to  that  id.
          The event  listener below  makes sure  that clicking
          the  submit  button  will clear  that  URL  fragment
          (otherwise the browser will retain it).
        */
        document.getElementById('get-assignments').addEventListener('submit', function() {
            if (window.location.hash) {
                history.replaceState(null, null, ' ');
            }
        });

        /*
          WHAT THIS DOES:
            When clicking on a  client link, this event listener
            will add the assignment row's id to the URL and save
            it in the history (then it the click will resume its
            natural course  of bringing  the user to  the client
            page). When hitting the back button, the URL will be
            pointing to the row ...

          WHAT IT WAS SUPPOSED TO BE DOING:
            ... but not the focus (that remains on the `<body>`;
            see Chromium bug
            https://issues.chromium.org/issues/334275634
            ). Not sure  if this actually helpful  or just makes
            things worse, but leaving it here for now.
        */
        var table = document.querySelector('table');
        table.addEventListener('click', function(event) {
            if (event.target.classList.contains('client-link')) {
                // event.preventDefault();
                var nearestElementId = event.target.closest('[id]').id;
                // debugger;
                history.replaceState(null, null, '#' + nearestElementId);
            }
        });

        /*
        var links = document.getElementsByClassName('client-link');
        for (var i = 0; i < links.length; i++) {
            links[i].addEventListener('click', function(event) {
                var nearestElementId = this.closest('tr').id;
                history.replaceState(null, null, '#' + nearestElementId);
            });
        }
        */
    });
    </script>
    -->

    <!-- credit: https://stackoverflow.com/a/72477957/1498178 -->
    <!-- TODO: memoize subsequent sorts -->
    <!-- TODO: fix date ordering to take years into consideration -->
    <script>
    window.onload = function() {
        document.querySelectorAll('th').forEach((element) => { // Table headers
            element.addEventListener('click', function() {
                let table = this.closest('table');

                // If the column is sortable
                if (this.querySelector('span')) {
                    let order_icon = this.querySelector('span');
                    let order      = encodeURI(order_icon.innerHTML).includes('%E2%86%91') ? 'desc' : 'asc';
                    let separator  = '-----'; // Separate the value of it's index, so data keeps intact

                    let value_list = {}; // <tr> Object
                    let obj_key    = []; // Values of selected column

                    let string_count = 0;
                    let number_count = 0;

                    // <tbody> rows
                    table.querySelectorAll('tbody tr').forEach((line, index_line) => {
                        // Value of each field
                        let key = line.children[element.cellIndex].textContent.toUpperCase();

                        // Check if value is date, numeric or string
                        if (line.children[element.cellIndex].hasAttribute('data-timestamp')) {
                            // if value is date, we store it's timestamp, so we can sort like a number
                            key = line.children[element.cellIndex].getAttribute('data-timestamp');
                        }
                        else if (key.replace('-', '').match(/^[0-9,.]*$/g)) {
                            number_count++;
                        }
                        else {
                            string_count++;
                        }

                        value_list[key + separator + index_line] = line.outerHTML.replace(/(\t)|(\n)/g, ''); // Adding <tr> to object
                        obj_key.push(key + separator + index_line);
                    });
                    if (string_count === 0) { // If all values are numeric
                        obj_key.sort(function(a, b) {
                            return a.split(separator)[0] - b.split(separator)[0];
                        });
                    }
                    else {
                        obj_key.sort();
                    }

                    if (order === 'desc') {
                        obj_key.reverse();
                        order_icon.innerHTML = '&darr;';
                    }
                    else {
                        order_icon.innerHTML = '&uarr;';
                    }

                    let html = '';
                    obj_key.forEach(function(chave) {
                        html += value_list[chave];
                    });
                    table.getElementsByTagName('tbody')[0].innerHTML = html;
                }
            });
        });
    }
    </script>
{% endblock %}
