{% extends 'lynx/base.html' %}

{% block content %}

<h1>{{ object.authorization.contact.first_name }} {{ object.authorization.contact.last_name }}'s Lesson Note from {{ object.user.first_name }} {{ object.user.last_name }}</h1>
<h2>{{ object.date|date:"F d, Y" }}</h2>
<input type="button" onclick="location.href='/lynx/authorization/{{ object.authorization_id }}';" value="Return to Authorization" /> <input type="button" onclick="location.href='/lynx/client/{{ object.authorization.contact_id}}';" value="Return to Client" />
<p class="tab"><strong>Attendance:</strong> {{ object.attendance }}</p>
<p class="tab"><strong>Instructional Units:</strong> {{ object.instructional_units }}</p>
<p class="tab"><strong>Billed Units:</strong> {{ object.billed_units }}</p>
<p class="tab"><strong>Number of Students in Class:</strong> {{ object.students_no }}</p>
<p class="tab"><strong>Successes and accomplishments:</strong> {{ object.successes }}</p>
<p class="tab"><strong>Obstacles and barriers to current learning:</strong> {{ object.obstacles }}</p>
<p class="tab"><strong>Recommendations to improve learning:</strong> {{ object.recommendations }}</p>
<p class="tab"><strong>Other:</strong> {{ object.note }}</p>

{% endblock %}