{% extends 'lynx/base.html' %}
{% load mathfilters %}
{% load date_tags %}

{% block javascript %}
<script>

    $(document).ready(function() {
        var thisYear = new Date().getFullYear();
        for (var i = 1999; i <= thisYear; i++) {
            $('#selYear').append("<option value="+ i +">"+ i +"</option>");
        }
        $("#selYear").val(thisYear);

        var thisMonth = new Date().getMonth() + 1;
        $("#selMonth").val(thisMonth);
    });

</script>
{% endblock %}

{% block title %}Progress Reports and Invoices for Billing{% endblock %}

{% block content %}
    <h1>Progress Reports and Invoices for Billing</h1>

    <form action='/lynx/report-search' method="get">
        <select name="selMonth" id="selMonth" title="Month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select name="selYear" id="selYear" title="Year">
        </select>
        <button type="submit" value="Submit">Submit</button>
    </form>
    <ul>
        {% for report in object_list %}
            <li><a href="progress-report/{{ report.id }}/">{{ report.contact.last_name }}, {{ report.contact.first_name }} {% if report.contact.middle_name %}{{ report.contact.middle_name }} {% endif %} {{ client.created|date:"Y-n-j" }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}