{% extends 'lynx/base.html' %}
{% load mathfilters %}
{% load date_tags %}

{% block javascript %}
<script>

    $(document).ready(function() {
        var thisYear = new Date().getFullYear();
        for (var i = 1999; i <= thisYear; i++) {
            $('#selYear').append("<option value="+ i +">"+ i +"</option>");
        }
        $("#selYear").val(thisYear);

        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var thisMonth = months[new Date().getMonth()];
        $("#selMonth").val(thisMonth);
    });

</script>
{% endblock %}

{% block title %}Progress Reports and Invoices for Billing{% endblock %}

{% block content %}
    <h1>Progress Reports and Invoices for Billing</h1>

    <form action="{% url 'lynx:report_search' %}"  method="get">
        <select name="selMonth" id="selMonth" title="Month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
        <select name="selYear" id="selYear" title="Year">
        </select>
        <input type="submit" value="Search All Clients" />
    </form>
    {% if request.GET.selMonth %}
        <hr>
        <h2>Reports and Invoices for {{request.GET.selMonth}} {{request.GET.selYear}}</h2>
        <ul>
            {% for report in object_list %}
                <li><a href="progress-report/{{ report.id }}/?print=true">{{ report.authorization.contact.last_name }}, {{ report.authorization.contact.first_name }} Progress Report - {{ report.authorization.intake_service_area.agency }} </a></li>
                <li><a href="billing-review/{{ report.authorization_id }}/?selMonth={{givenMonth}}&selYear={{givenYear}}&print=true">{{ report.authorization.contact.last_name }}, {{ report.authorization.contact.first_name }} Invoice - {{ report.authorization.intake_service_area.agency }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}