{% extends 'lynx/base.html' %}
{% load date_tags %}

{% block header %}
  {% if request.GET.print %}
    <h1>{{ object.authorization.contact.first_name }} {{ object.authorization.contact.last_name }} Progress Report for {{ object.month|month_name }} {{object.year}}</h1>
  {% endif %}
{% endblock %}

{% block content %}

{% if not request.GET.print %}
<h1>{{ object.authorization.contact.first_name }} {{ object.authorization.contact.last_name }} Progress Report for {{ object.month|month_name }} {{ object.year }}</h1>
<input type="button" onclick="location.href='/lynx/authorization/{{ object.authorization_id }}';" value="Return to Authorization" /> <input type="button" onclick="location.href='/lynx/client/{{ object.authorization.contact.id}}';" value="Return to Client" />
{% endif %}

<h2>Client Information</h2>
<p class="tab"><strong>Client:</strong> {{ object.authorization.contact.first_name }} {{ object.authorization.contact.last_name }}</p>
<p class="tab"><strong>Counselor:</strong> {{ object.authorization.outside_agency }}</p>
<p class="tab"><strong>Instructor(s):</strong> {{ object.instructor }}</p>
<p class="tab"><strong>Service Area:</strong> {{ object.authorization.intake_service_area }}</p>

<h2>Authorization Information</h2>
<p class="tab"><strong>Authorization Number:</strong> {{ object.authorization.authorization_number }}</p>
<p class="tab"><strong>Hours Used for Authorization:</strong> {{ total_hours }}</p>
<p class="tab"><strong>Hours Remaining:</strong> {{ remaining_hours }}</p>
<p class="tab"><strong>Total Hours:</strong> {{ total_time }}</p>
<p class="tab"><strong>Hours Used this Month:</strong> {{ month_used }}</p> <!--TODO add hours used-->
<p class="tab"><strong>Start Date:</strong> {{ object.authorization.start_date|date:'F j, Y' }}</p>
<p class="tab"><strong>End Date:</strong> {{ object.authorization.end_date|date:'F j, Y' }}</p>

<h2>Report</h2>
<p class="tab"><strong>Client Accomplishments:</strong> {{ object.accomplishments }}</p>
<p class="tab"><strong>Remaining Short Term Objectives:</strong> {{ object.short_term_goals }}</p>
<p class="tab"><strong>Remaining Long Term Objectives:</strong> {{ object.long_term_goals }}</p>
<p class="tab"><strong>Estimated number of Hours needed for completion of objectives:</strong> Long Term - {{ object.long_term_goals_time }}. </p><p>Short Term - {{ object.short_term_goals_time }}</p>
<p class="tab"><strong>The client's attendance, attitude, and motivation during current month:</strong> {{ object.client_behavior }}</p>
<p class="tab"><strong>Additional comments:</strong> {{ object.notes }}</p>

{% if not request.GET.print %}
<!--<form>-->
<!--&lt;!&ndash;  <input type="button" value="Click Me" class="btn btn-primary">&ndash;&gt;-->
<!--  <button class="btn btn-success" onclick="window.location.href=/lynx/progress-report/{{ object.id }}/?print=true">Print View </button>-->
<!--</form>-->
<form action="/lynx/progress-report/{{ object.id }}/" method="GET">
  <input type="hidden" name="print" value="true" />
  <input type="submit" value="Print View" class="btn btn-primary" />
</form>
{% endif %}
{% endblock %}