{% extends 'lynx/base.html' %}
{% load date_tags %}

{% block header %}
  {% if request.GET.print %}
    <h1>Progress Report for the month of {{ object.month|month_name }} {{object.year}}</h1>
  {% endif %}
{% endblock %}

{% block content %}

{% if not request.GET.print %}
<h1>Progress Report for the month of {{ object.month|month_name }} {{ object.year }}</h1>
<input type="button" onclick="location.href='/lynx/authorization/{{ object.authorization_id }}';" value="Return to Authorization" /> <input type="button" onclick="location.href='/lynx/client/{{ object.authorization.contact.id}}';" value="Return to Client" />
<br>
<a href='/lynx/progress-report-edit/{{ object.id }}'>Edit</a> | <a href='/lynx/progress-report-confirm/{{ object.id }}/{{ object.authorization_id }}'>Delete</a>
{% endif %}

<h2>Client Information</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Client:</strong> {{ object.authorization.contact.first_name }} {{ object.authorization.contact.last_name }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Counselor:</strong> {{ object.authorization.outside_agency }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Instructor(s):</strong> {{ object.instructor }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Service Area:</strong> {{ object.authorization.intake_service_area }}</div>
  </div>
</div><br>

<h2>Authorization Information</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Authorization Number:</strong> {{ object.authorization.authorization_number }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>{{ object.authorization.authorization_type }} Used for Authorization:</strong> {{ total_hours }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>{{ object.authorization.authorization_type }} Remaining:</strong> {{ remaining_hours }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Total {{ object.authorization.authorization_type }}:</strong> {{ total_time }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>{{ object.authorization.authorization_type }} Used this Month:</strong> {{ month_used }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Start Date:</strong> {{ object.authorization.start_date|date:'F j, Y' }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>End Date:</strong> {{ object.authorization.end_date|date:'F j, Y' }}</div>
  </div>
</div>

<h2>Report</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Client Accomplishments:</strong> {{ object.accomplishments }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Remaining Objectives:</strong> </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Short Term:</strong> {{ object.short_term_goals }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Long Term:</strong> {{ object.long_term_goals }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Estimated number of Hours needed for completion of objectives:</strong></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><em>Short Term: </em>{{ object.short_term_goals_time }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><em>Long Term: </em>{{ object.long_term_goals_time }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>The client's attendance, attitude, and motivation during current month:</strong> {{ object.client_behavior }}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11"><strong>Additional comments:</strong> {{ object.notes }}</div>
  </div>
</div>

{% if not request.GET.print %}
<form action="/lynx/progress-report/{{ object.id }}/" method="GET">
  <input type="hidden" name="print" value="true" />
  <input type="submit" value="Print View" class="btn btn-primary" />
</form>
{% endif %}

{% endblock %}