{% extends 'lynx/base.html' %}

{% block content %}

    <div>
    <h1>{{ page_title }}</h1>
    <h2>Core Reports</h2>
        <a href="/lynx/billing-report/" title="Core Billing Report">Core Billing Report</a></br>
        <a href="{% url 'lynx:core_monthly_print' %}" title="Print Monthly Invoices">Print Monthly Invoices</a></br>
    <h2>SIP Reports</h2>
        <a href="/lynx/sip-demographic-report/" title="SIP Demographic Report">Monthly SIP Demographic Report</a></br>
        <a href="{% url 'lynx:generate_oib_quarterly_reports' %}" title="Generate OIB Quarterly Reports">Generate OIB Quarterly Reports</a></br>
    </div>

{% endblock %}