{% extends 'lynx/base.html' %}

{% block content %}

    <div>
    <h1>Reports</h1>
    <h2>Core Reports</h2>
        <a href="/lynx/billing-report/" title="Core Billing Report">Core Billing Report</a></br>
        <a href="/lynx/report-search" title="Print Monthly Invoices">Print Monthly Invoices</a></br>
    <h2>SIP Reports</h2>
        <a href="/lynx/add-sip-note-bulk/" title="Bulk SIP Notes">Bulk SIP Notes</a></br>
        <a href="/lynx/sip-demographic-report/" title="SIP Demographic Report">Monthly SIP Demographic Report</a></br>
        <a href="/lynx/sip-quarterly-report/" title="SIP Quarterly Report">SIP Quarterly Report</a></br>
    <h2>Volunteer Reports</h2>
        <a href="/lynx/volunteer-report/" title="Volunteer Reports">Volunteer Reports</a></br>
    </div>

{% endblock %}