{% extends 'lynx/base.html' %}
{% load time_convert %}

{% block title %}SIP Notes for {{ client.first_name }} {{ client.last_name }}{% endblock %}

{% block content %}
    <h2>SIP Notes for {{ client.first_name }} {{ client.last_name }}</h2>
    {% if not request.GET.print %}
        <!-- <input type="button" class="btn btn-success" aria-label="Add New SIP Note" onclick="location.href='/lynx/add-sip-note/{{ client.id }}/';" value="Add New SIP Note" /> -->
        <a class="btn btn-success" aria-label="Add New SIP Note" href='/lynx/add-sip-note/{{ client.id }}/?next={{ request.path }}'>Add New SIP Note</a>
        <input type="button" class="btn btn-success" aria-label="Back to Client" onclick="location.href='/lynx/client/{{ client.id }}';" value="Return to {{ client.first_name }} {{ client.last_name }}'s Information" />
    {% endif %}

    {% for note in notes %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12"><h3>{{ note.note_date|date:'F j, Y' }}</h3> {{ note.note|linebreaks }}</div>
            </div>
            <div class="row">
              <div class="col-12"><a href='/lynx/sip-note-edit/{{ note.id }}?contact_id={{ client.id }}&plan_id={{ note.sip_plan_id }}&next={{ request.path }}'>Edit {{ note.note_date|date:'F j, Y' }}</a></div>
            </div>
            <div class="row">
                <div class="col-12"><strong>Instructor: </strong>{{ note.instructor }}</div>
            </div>
            <div class="row">
                <div class="col-12"><strong>Hours: </strong>{{ note.class_hours|convert_fractions }}</div>
            </div>
            <div class="row">
                <div class="col-12"><strong>Plan: </strong><a href="/lynx/sip-plan/{{ note.sip_plan_id }}">{{ note.sip_plan.plan_name }}</a></div>
            </div>
            <div class="row">
                <div class="col-12"><strong>Services: </strong>{% if note.at_services or note.at_devices %}Assistive Technology Devices and Training, {% endif %} {% if note.independent_living %}Independent Living and Adjustment Services, {% endif %}{% if note.orientation %}Orientation & Mobility Training, {% endif %} {% if note.communications %}Communication Skills Training, {% endif %} {% if note.dls %}Daily Living Skills Training, {% endif %} {% if note.advocacy %}Advocacy Training, {% endif %} {% if note.counseling %}Adjustment Counseling, {% endif %} {% if note.information %}Information and Referral, {% endif %} {% if note.services %}Other IL/A services, {% endif %} {% if note.support_services %}Supportive Services{% endif %}
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-12"><strong>Service Delivery: </strong>{% if note.retreat %}Retreat, {% endif %}{% if note.in_home %}In-home Training, {% endif %}{% if note.seminar %}Training Seminar, {% endif %}{% if note.modesto %}Modesto training site, {% endif %}{% if note.group %}Support group(s), {% endif %}{% if note.community %}Community Integration{% endif %}</div>-->
<!--            </div>-->
            <div class="row">
                <!-- TODO this URL path scheme is just wrong... -->
                <div class="col-12"><a href='/lynx/sip-note-confirm/{{ note.id }}/{{ client.id }}?next={{ request.path }}'>Delete {{ note.note_date|date:'F j, Y' }}</a></div>
            </div>
        </div>
        <hr>
        {% empty %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">Sorry, no SIP Notes have been entered for this client</div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
