{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit SIP Note{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            var getQueryString = function ( field, url ) {
                var href = url ? url : window.location.href;
                var reg = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
                var string = reg.exec(href);
                return string ? string[1] : null;
            };

            var value = getQueryString('contact_id');
            var plan = getQueryString('plan_id');

            $.ajax({                       // initialize an AJAX request
                url: "/lynx/get-sip-plans/",                    // set the url of the request
                data: {
                  'client_id': value
                },
                success: function (data) {   // `data` is the return of the `get_sip_plans` view function
                  $("#id_sip_plan").html(data);  // replace the contents of the plan input with the data that came from the server
                  $("#id_sip_plan").val(plan);
                }
            });
            });
    </script>
{% endblock %}

{% block content %}
<form method="post"> {% csrf_token %}
    <div class="container-fluid">
        <h2>Notes</h2>
            <div hidden class="row">
              <div class="col-12">{{ form.contact_id }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.note_date|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.class_hours|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.instructor|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-12">{{ form.sip_plan|as_crispy_field }}</div>
            </div>
        <h2>Services (check all that apply):</h2>
            <div class="row">
              <div class="col-6">{{ form.at_devices|as_crispy_field }}</div>
            </div>
        <h3>Independent Living and Adjustment Services</h3>
            <div class="row">
              <div class="col-6">{{ form.orientation|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.communications|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.dls|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.advocacy|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.counseling|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.information|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.services|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.support|as_crispy_field }}</div>
            </div>
        <h2>Notes</h2>
            <div class="row">
              <div class="col-12">{{ form.note|as_crispy_field }}</div>
            </div>
        {{ form.errors }}
    </div>
    <input type="submit" value="Update">
</form>
{% endblock %}