{% extends 'lynx/base.html' %}
{% load time_convert %}

{% block title %}SIP Notes{% endblock %}

{% block content %}
    <h2>SIP Notes for {{ client.first_name }} {{ client.last_name }}</h2>
    {% if not request.GET.print %}<input type="button" class="btn btn-success" aria-label="Add New SIP Note" onclick="location.href='/lynx/add-sip-note/{{ client.id }}/';" value="Add New SIP Note" />  <input type="button" class="btn btn-success" aria-label="Back to Client" onclick="location.href='/lynx/client/{{ client.id }}';" value="Return to {{ client.first_name }} {{ client.last_name }}'s Information" />
{% endif %}

    {% for sip in notes %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12"><h3>{{ sip.note_date|date:'F j, Y' }}</h3> {{ sip.note|linebreaks }}</div>
            </div>
            <div class="row">
                <div class="col-12"><a href='/lynx/sip-note-edit/{{ sip.id }}?contact_id={{ object.id }}&plan_id={{ sip.sip_plan_id }}'>Edit {{ sip.note_date|date:'F j, Y' }}</a></div>
            </div>
            <div class="row">
                <div class="col-12"><strong>Instructor: </strong>{{ sip.instructor }}</div>
            </div>
            <div class="row">
                <div class="col-12"><strong>Hours: </strong>{{ sip.class_hours|convert_fractions }}</div>
            </div>
            <div class="row">
                <div class="col-12"><strong>Services: </strong>{% if sip.at_devices %}AT devices and aids, {% endif %} {% if sip.at_services %}Assistive Technology Devices and Services, {% endif %} {% if sip.independent_living %}Independent Living and Adjustment Services, {% endif %}{% if sip.orientation %}Orientation & Mobility Training, {% endif %} {% if sip.communications %}Communication Skills Training, {% endif %} {% if sip.dls %}Daily Living Skills Training, {% endif %} {% if sip.advocacy %}Advocacy Training, {% endif %} {% if sip.counseling %}Adjustment Counseling, {% endif %} {% if sip.information %}Information and Referral, {% endif %} {% if sip.services %}Other IL/A services, {% endif %} {% if sip.support %}Supportive Services{% endif %}
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-12"><strong>Service Delivery: </strong>{% if sip.retreat %}Retreat, {% endif %}{% if sip.in_home %}In-home Training, {% endif %}{% if sip.seminar %}Training Seminar, {% endif %}{% if sip.modesto %}Modesto training site, {% endif %}{% if sip.group %}Support group(s), {% endif %}{% if sip.community %}Community Integration{% endif %}</div>-->
<!--            </div>-->
            <div class="row">
                <div class="col-12"><a href='/lynx/sip-note-confirm/{{ sip.id }}/{{ object.id }}'>Delete {{ sip.note_date|date:'F j, Y' }}</a></div>
            </div>
        </div>
        <hr>
        {% empty %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">Sorry, no SIP Notes have been entered for this client</div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}