{% extends 'lynx/base.html' %}
{% load time_convert %}

{% block content %}

<h1>{{ contact.first_name }} {{ contact.last_name }}</h1>

{% for address in address_list %}
    {% if not address.bad_address and address.address_one %}
        <p class="tab">
            <strong>Address:</strong><br>
            {{ address.address_one }}<br>
            {% if address.address_two %}{{ address.address_two }}<br>{% endif %}
            {% if address.suite %}Apt/Suite {{ address.suite }}<br>{% endif %}
            {{ address.city }}, {{ address.state }} {{ address.zip_code }}<br>
            {{ address.county }}<br>
            {% if not request.GET.print %}<input type="button" class="btn btn-primary" aria-label="Edit Address" onclick="location.href='/lynx/address-edit/{{ address.id }}';" value="Edit Address" />{% endif %}
        </p>
    {% endif %}
{% empty %}
    <p class="tab">Sorry, no associated addresses for this volunteer</p>
{% endfor %}

{% for phone in phone_list %}
    {% if phone.active %}
        <p class="tab">
            <strong>{{ phone.phone_type }} Phone Number:</strong> {{ phone.phone }} <br>
            {% if not request.GET.print %}<input type="button" class="btn btn-primary" aria-label="Edit Number" onclick="location.href='/lynx/phone-edit/{{ phone.id }}';" value="Edit Number" />{% endif %}
        </p>
    {% endif %}
{% empty %}
    <p class="tab">Sorry, no associated phone numbers for this volunteer</p>
{% endfor %}


{% for email in email_list %}
    {% if email.active %}
        <p class="tab">
            <strong>{{ email.email_type }} Email Address:</strong> {{ email.email }} <br>
            {% if not request.GET.print %}<input type="button" class="btn btn-primary" aria-label="Edit Email" onclick="location.href='/lynx/email-edit/{{ email.id }}';" value="Edit Email" />{% endif %}
        </p>
    {% endif %}
{% empty %}
    <p class="tab">Sorry, no associated emails for this volunteer</p>
{% endfor %}
{% if not request.GET.print %}
<input type="button" class="btn btn-success" aria-label="Add Address" onclick="location.href='/lynx/add-address/{{ object.id }}/';" value="Add Address" />
<input type="button" class="btn btn-success" aria-label="Add Phone Number" onclick="location.href='/lynx/add-phone/{{ object.id }}/';" value="Add Phone Number" />
<input type="button" class="btn btn-success" aria-label="Add Email" onclick="location.href='/lynx/add-email/{{ object.id }}/';" value="Add Email" />
{% endif %}

<h2>Volunteer History</h2>
    <div class="alert alert-success" role="alert">
      To navigate between table cells, use Ctrl+Alt+Arrow Keys<br>
        If using JAWS, you can activate Table mode by pressing JAWS+Space followed by T. This allows you to use arrow and other navigation keys to move across the table.
    </div>
    <table class="table">
        <tr>
            <th>Volunteer Date</th>
            <th>Volunteer Hours</th>
            <th>Volunteer Organization</th>
            <th>Notes</th>
            <th>Instructor</th>
            <th>Actions</th>
        </tr>
        {% for vol in volunteer_list %}
            <tr>
                <th>{{ vol.volunteer_date|date:'F j, Y' }}</th>
                <td>{{ vol.volunteer_hours }}</td>
                <td>{{ vol.volunteer_type }}</td>
                <td>{{ vol.note }}</td>
                <td>{{ vol.user.first_name }} {{ vol.user.last_name }}</td>
                <td>
<!--                    <form>-->
<!--                      <button class="btn btn-primary" formaction="/lynx/lesson-note-edit/{{ vol.id }}">Edit</button>-->
<!--                      <button class="btn btn-danger" formaction="/lynx/lesson-note-confirm/{{ vol.id }}/{{ object.id }}">Delete</button>-->
<!--                    </form>-->

                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}