{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Volunteer Report</h1>
    <br>
    <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        {{ form.errors }}
        <button type="submit">Volunteer Hours by Month</button>
        <button type="submit" formaction="/lynx/volunteer-report/by-program">Volunteer Hours by Program</button>
    </form>
<!--    <hr>-->
<!--    <table class="table">-->
<!--        <tr>-->
<!--            <th>Volunteer Name</th>-->
<!--            <th>Month</th>-->
<!--            <th>Program</th>-->
<!--            <th>Volunteer Hours</th>-->
<!--        </tr>-->
<!--        {% for vol in volunteer_list %}-->
<!--            <tr>-->
<!--                <th>{{ vol.volunteer_date|date:'F j, Y' }}</th>-->
<!--                <td>{{ vol.volunteer_hours }}</td>-->
<!--                <td>{{ vol.volunteer_type }}</td>-->
<!--                <td>{{ vol.note }}</td>-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
{% endblock %}