{% extends 'lynx/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Volunteer Hours{% endblock %}

{% block content %}
<h1>Edit Volunteer Hours</h1>
<br>
<form method="post"> {% csrf_token %}
    <div class="container-fluid">
         <h2>Volunteer Hour Information:</h2>
            <div class="row">
              <div class="col-6">{{ form.volunteer_date|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ form.volunteer_type|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.note|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form.volunteer_hours|as_crispy_field }}</div>
            </div>
        {{ form.errors }}
    </div>
    <input type="submit" value="Update">
</form>
{% endblock %}