{% extends 'lynx/base.html' %}

{% block content %}

<h1>{{ contact.first_name }} {{ contact.last_name }}</h1>
<h2>{{ object.date|date:'F j, Y' }}</h2>


<h2>Volunteer History</h2>
    <div class="alert alert-success" role="alert">
      To navigate between table cells, use Ctrl+Alt+Arrow Keys<br>
        If using JAWS, you can activate Table mode by pressing JAWS+Space followed by T. This allows you to use arrow and other navigation keys to move across the table.
    </div>
    <table class="table">
        <tr>
            <th>Volunteer Date</th>
            <th>Volunteer Hours</th>
            <th>Volunteer Organization</th>
            <th>Notes</th>
            <th>Instructor</th>
            <th>Actions</th>
        </tr>
        {% for vol in volunteer_list %}
            <tr>
                <th>{{ vol.volunteer_date|date:'F j, Y' }}</th>
                <td>{{ vol.volunteer_hours }}</td>
                <td>{{ vol.volunteer_type }}</td>
                <td>{{ vol.note }}</td>
                <td>{{ vol.user.first_name }} {{ vol.user.last_name }}</td>
                <td>
<!--                    <form>-->
<!--                      <button class="btn btn-primary" formaction="/lynx/lesson-note-edit/{{ vol.id }}">Edit</button>-->
<!--                      <button class="btn btn-danger" formaction="/lynx/lesson-note-confirm/{{ vol.id }}/{{ object.id }}">Delete</button>-->
<!--                    </form>-->

                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}