venv/
lynx/venv/
lynx/mysite/__pycache__/
lynx/lynx/__pycache__/
lynx/lynx/migrations/__pycache__/
*.pyc
lynx/mysite/settings.py
lynx/lynx-debug.log
.idea/*
.idea/misc.xml
.idea/slate-2.iml
lynx/media/documents/*
*egg-info
