{% extends 'lynx/base.html' %}

{% block title %}{{ program }} Plan for {{ client }}: {{ plan_name }}{% endblock %}

{% block content %}
<h1>{{ program }} Plan for {{ client }}: {{ plan_name }}</h1>

<input type="button" class="btn btn-success" aria-label="Back to Client" onclick="location.href='{% url 'lynx:contact_show' client.id %}';" value="Return to Client" />
<!-- <input type="button" class="btn btn-success" aria-label="Edit outcomes" onclick="location.href='{% url 'lynx:oib_plan_list' client.id %}';" value="Edit" /> -->
<input type="button" class="btn btn-success" aria-label="SIP Plans" onclick="location.href='{% url 'lynx:oib_plan_list' client.id %}';" value="Show all SIP plans" />
<a class="btn btn-success" href="{% url 'lynx:contact_show' client.id %}">Back to client</a>

<h2>Outcomes</h2>
{% if edit_mode %}
    {% include "lynx/oib/fragments/_plan_outcomes_edit.html" with client_outcomes=plan_outcomes %}
{% else %}
<ul>
    {% include "lynx/oib/fragments/_plan_outcomes_show.html" %}
</ul>
<a class="btn btn-primary" href="{% url 'lynx:oib_plan_edit' client.id program grant_year service_delivery_type_id %}">
    Edit Outcomes
</a>
{% endif %}

<h2>Notes</h2>
<ul>
    {% for event in service_events %}
        <li>
            <a href="{% url 'lynx:oib_service_event_show' event.id %}">
                {{ event.date }} - {{ event.oib_service_delivery_type }}
            </a>
        </li>
    <!--
        NOTE 2025_09_06_1646 Technically, this clause is unnecessary as plans are
                             virtual (if there are no service events for a given
                             grant year and service delivery type, then it won't
                             even show up in the list of available plans), but it
                             is possible that someone deletes an event and another
                             user has a plan open that they refresh.
    -->
    {% empty %}
        <li>No service events found for this plan.</li>
    {% endfor %}
</ul>

{% endblock %}