{% extends 'lynx/base.html' %}

{% block title %}Plans for {{ client }}{% endblock %}

{% block content %}
<!--
TODO 2025_09_01_1736 Add dropdowns to filter by
                        + plan name,
                        + service delivery type (i.e., "plan" type), and
                        + grant year
-->
<h1>Plans for {{ client }}</h1>
<ul>
    {% regroup plans by plan_group as plans_by_group %}
    {% for group in plans_by_group %}
        <li>
            <a href="{% url 'lynx:oib_plan_show' client.id group.list.0.grant_year group.list.0.oib_service_delivery_type__id %}">
                <strong>{{ group.grouper }}</strong>
            </a>
            <ul>
                {% for plan in group.list %}
                    <li>
                        <a href="{% url 'lynx:oib_service_event_show' plan.id %}">{{ plan.id }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li>No plans found.</li>
    {% endfor %}
</ul>
{% endblock %}