/* official colors #006ca3, #5ca038 */

h1 {
    color: #006ca3;
}

h2 {
    color: #5ca038;
}

h3 {
    color: rgba(26, 28, 30, 0.73);
}

div {
    font-size: 22px
}

@media print {
div {
    font-size: 22px
}
}