On Ubuntu 18.0.4 run these commands to install all required packages.

sudo apt update
sudo apt-get install git
sudo apt-get install python3
sudo apt install python3-pip
sudo pip3 install Django==2.1.5
sudo pip3 install psycopg2-binary
sudo pip3 install --upgrade django-crispy-forms
sudo pip3 install django-debug-toolbar
sudo pip3 install django-tables2
sudo pip3 install openpyxl
sudo pip3 install django-mathfilters
sudo pip3 install django-audit-log
sudo pip3 install django-reversion
sudo pip3 install django-simple-history

sudo apt-get install postgresql postgresql-contrib
sudo update-rc.d postgresql enable
sudo service postgresql start